<h1><%= t('views.common.title_edit', name: Comment.model_name.human) %></h1>

<%= render 'shared/comments/form', commentable: @commentable, comment: @comment %>

<%= link_to t('views.common.back'), polymorphic_path(@commentable) %>