<%= form_with(model: [commentable, comment], local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <ul>
        <li><%= comment.errors.full_messages_for(:body).first %></li>
      </ul>
    </div>
  <% end %>

  <div class="field required">
    <%= form.text_area(:body, { placeholder: Comment.model_name.human, required: true }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>