<%= form_with(model: [commentable, comment], method: :post, local: true) do |form| %>
  <div class="field">
    <%= form.text_area(:body, { placeholder: Comment.model_name.human }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>